{% extends "keyterm/base.html" %}

{% block content %}

<h1 style="display:inline; clear:none;">Keyterm: {{keytermtask.keyterm.keyterm}} </h1>
<br>
<p>
<form action="{% url 'keyterms_entry_point' %}" method="POST"
      enctype="multipart/form-data">{% csrf_token %}
    <input type="hidden" name="context_id" value="{{course.label}}">
    <input type="hidden" name="resource_link_id" value="{{entry_point.LTI_id}}">
    <input type="hidden" name="learner_ID" value="{{learner.user_ID}}">
    <input type="hidden" name="lis_outcome_service_url" value="{{grade_push_url}}">

<br>
<h2>1. Define this key term: <span class='keyterm-name'>{{keytermtask.keyterm.keyterm}}</span></h2>

<br>
<h2>2. Your definition, and don't forget to mention your reference(s)</h2>

<textarea rows="5" cols="50" maxlength=500 name="keyterm-definition"
          placeholder="Your definition; no more than 500 characters in length"
          required>{{keytermtask.definition_text}}</textarea>


<br>
<h2>3. Write your explanation (max of 1000 characters)</h2>
<textarea rows="10" cols="40" maxlength=1000 name="keyterm-explanation"
          placeholder="Your explanation; no more than 1000 characters in length"
          required>{{keytermtask.explainer_text}}</textarea>

<br>
<h2>4. Upload an image file (only JPEG or PNG please)</h2>

<style>
.column-left{ float: left; width: 45%; }
.column-right{ float: right; width: 40%; }
.column-center{ display: inline-block; width: 15%; text-align: center;}
</style>
<div style="width:100%" class="container">
   <div class="column-center" style="padding-right:10px">
      {% if keytermtask.image_thumbnail %}<img width="100%" src="/{{keytermtask.image_thumbnail.url}}">{% endif %}
</div>
   <div class="column-left">
      <p class="error_message">{{error_message}}</p>
      {{entry_point.file_upload_form}}
      <p>
      Recommended aspect ratio: <tt>(width:height)</tt> of <tt>(1:1.6)</tt>
      <br>for example, <tt>1000 x 1600</tt> pixels.
   </div>
   <div class="column-right">
      {% if keytermtask.image_raw %}
         You already <a href="/{{keytermtask.image_raw.file_upload.url}}" target="_blank">uploaded an image</a> of {{keytermtask.image_raw.file_upload.size|filesizeformat}} on {{keytermtask.image_raw.datetime_submitted|date:"d F Y"}} at {{keytermtask.image_raw.datetime_submitted|time:"H:i"}}; you do not need to upload it again.
      {% endif%}
   </div>
</div>

<div style="clear:both;"></div>



<br>
<h2>5. A reference for your image</h2>
<br>
<label for="reference">Reference:</label>
  <input type="text"
         name="keyterm-reference"
         size="80"
         maxlength="245"
         required
         placeholder="Own photo taken at/on ... | Photo from http://.... | etc"
         value="{{keytermtask.reference_text}}"><br>


<span class="submit_button" style="float:right">
    <input type="submit" name="preview-keyterm" value="Preview your keyterm">
</span>
</form>

{% endblock %}