{% extends "keyterm/base.html" %}

{% block header %}{% endblock %}

{% block content %}


<h1>Download your key terms booklet</h1>


<p>After a total of {{total_votes}} votes (so far!) from {{n_persons}} learners, it is time to wrap up the key terms in this course.

<p style="font-size: 150%;"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Click here to download your <a href="{{learner_download_link}}" target="_blank">personalized key terms booklet <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>.


<p>Your key terms received {{student_votes_received}} vote{{student_votes_received|pluralize}}, and you gave out {{student_votes_given}} vote{{student_votes_given|pluralize}} to other learners.


{% endblock %}
