{% extends "keyterm/base.html" %}

{% block header %}
<style>
img.preview-image{
    max-width:600px;
    display: block;
    margin:0 auto;
}
</style>
{% endblock %}

{% block content %}

{{header|safe}}
<form action="{% url 'keyterms_entry_point' %}" method="POST"
      enctype="multipart/form-data">{% csrf_token %}
    <input type="hidden" name="context_id" value="{{course.label}}">
    <input type="hidden" name="resource_link_id" value="{{entry_point.LTI_id}}">
    <input type="hidden" name="learner_ID" value="{{learner.user_ID}}">
    <input type="hidden" name="lis_outcome_service_url" value="{{grade_push_url}}">


<h2>This is a preview of your key term: <span class='keyterm-name'>{{keytermtask.keyterm.keyterm}}</span></h2>
<br>


<div style="float:left" class="submit_button" >
    <input type="submit" name="draft-keyterm" value="Return back to editing">
</div>

<div style="float:right" class="submit_button" >
    <input type="submit" name="submit-keyterm" value="Submit your keyterm">
</div>
<div style="clear:both; margin-bottom: 10px"></div>
<img src="/{{keytermtask.image_modified.url}}"
     alt="Your keyterm definition and explanation"
     class="preview-image">

<div style="clear:both; margin-bottom: 10px"></div>

<div style="float:left" class="submit_button" >
    <input type="submit" name="draft-keyterm" value="Return back to editing">
</div>

<div style="float:right" class="submit_button" >
    <input type="submit" name="submit-keyterm" value="Submit your keyterm">
</div>

</form>
{% endblock %}