{% load template_extras %}


<style>
#graph {
    width: 900px;
    height: 500px;
}
</style>

<style>
.link {
  fill: none;
  stroke: #aaa;
  stroke-width: 1.5px;
  stroke-opacity: 0.6;
}
.marker {
    fill: #AAA;
    stroke: #aaa;
    stroke-width: 1.5px;
    stroke-opacity: 0.6;
}
.node circle {
  stroke: #fff;
  stroke-width: 1.5px;
}
text {
  font: 10px sans-serif;
  color: #777777;
  stroke: #777777;
  pointer-events: none;
}
</style>
{% comment  %}
<div id="graph"></div>
{% endcomment  %}
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/4.1.1/d3.min.js"></script>
<script>
!(function(){
    "use strict"

    var width,height
    var chartWidth, chartHeight
    var circle_radius = 5;
    var linkDistance = 80; // target distance between linked nodes; optimized during simulation
    var linkStrength = 0.5;
    var color = d3.scaleOrdinal(d3.schemeCategory20);
    var margin
    var svg = d3.select("#graph").append("svg")
    var chartLayer = svg.append("g").classed("chartLayer", true)

    main()

    function main() {
        var data = {
            nodes:{{graph.nodes|safe}},
            links:{{graph.links|safe}}
        }
        setSize(data)
        drawChart(data)
    }

    function setSize(data) {
        width = document.querySelector("#graph").clientWidth
        height = document.querySelector("#graph").clientHeight
        margin = {top:0, left:0, bottom:0, right:0 }
        chartWidth = width - (margin.left+margin.right)
        chartHeight = height - (margin.top+margin.bottom)
        svg.attr("width", width).attr("height", height)
        chartLayer
            .attr("width", chartWidth)
            .attr("height", chartHeight)
            .attr("transform", "translate("+[margin.left, margin.top]+")")
    }

    function drawChart(data) {

        // build the arrow.
        svg.append("svg:defs").selectAll("marker")
            .data(["end"])      // Different link/path types can be defined here
          .enter().append("svg:marker")    // This section adds in the arrows
            .attr("id", String)
            .attr("class", "marker")
            .attr("viewBox", "0 -5 10 10")
            .attr("refX", 20)
            .attr("refY", 0)
            .attr("markerWidth", 6)
            .attr("markerHeight", 6)
            .attr("orient", "auto")
          .append("svg:path")
            .attr("d", "M0,-5L10,0L0,5");


        var simulation = d3.forceSimulation()
            .force("link", d3.forceLink().distance(linkDistance).strength(linkStrength))
            .force("collide",d3.forceCollide( function(d){return circle_radius + 8 }).iterations(16) )
            .force("charge", d3.forceManyBody())
            .force("center", d3.forceCenter(chartWidth / 2, chartHeight / 2))
            .force("y", d3.forceY(0))
            .force("x", d3.forceX(0))

        var link = svg.append("g")
            .selectAll("line")
            .data(data.links)
            .enter().append("line")
            .attr("class", "link")
            .attr("marker-end", "url(#end)");

        var node = svg.append("g")
            .attr("class", "node")
            .selectAll("circle")
            .data(data.nodes)
            .enter().append("circle")
            .attr("r", circle_radius)
            .attr("fill", function(d) { return color(d.groupid); })
            .call(d3.drag()
                .on("start", dragstarted)
                .on("drag", dragged)
                .on("end", dragended));

        node.append("title")
          .attr("class", "text")
          .attr("x", -circle_radius/2)
          .attr("dx", "-0.1em")
          .attr("dy", "0.3em")
          .text(function(d) {
          return d.title;
          });

        var ticked = function() {
            link
                .attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });

            node
                .attr("cx", function(d) { return d.x; })
                .attr("cy", function(d) { return d.y; });
        }

        simulation
            .nodes(data.nodes)
            .on("tick", ticked);

        simulation.force("link")
            .links(data.links);

        function positionLink(d) {
            return "M" + d[0].x + "," + d[0].y
                 + "S" + d[1].x + "," + d[1].y
                 + " " + d[2].x + "," + d[2].y;
          }

          function positionNode(d) {
            return "translate(" + d.x + "," + d.y + ")";
          }

          function dragstarted(d) {
            if (!d3.event.active) simulation.alphaTarget(0.3).restart();
            d.fx = d.x, d.fy = d.y;
          }

          function dragged(d) {
            d.fx = d3.event.x, d.fy = d3.event.y;
          }

          function dragended(d) {
            if (!d3.event.active) simulation.alphaTarget(0);
            d.fx = null, d.fy = null;
          }



    }
}());
</script>

{% comment  %}
<div style="clear:both">
<span style="float: left; padding-left: 0.5em"><a href="{% url 'csv_summary_download' %}">Download data (CSV) for all {{learners.count}} learners</a></span>
{% if global_summary_link %}
<span style="float: right; padding-right: 0.5em"><a href="{{global_summary_link}}">Links to all deliverables</a></span>
{% endif %}
</div>
{% endcomment %}


<div style="clear:both">
<h2 >Staff grading</h2><br>
{{staff_grading|safe}}
</div>
<br>

{% if learner.id == 96 %}
<div style="clear:both">
<h2 style="display:inline; clear:none;">Learner overview</h2><br>
</div>

<script language="javascript" type="text/javascript">
$(document).ready( function () {

  $('#class_overview').DataTable( {
    paging: false,
    order: [ [ 2, "asc" ], [ 1, "asc" ], [ 0, "asc" ], ],
    searching: true,
    fixedHeader: {
        header: true,
        footer: true
    },
    bInfo: false,
    bAutoWidth: true,
  } );
} );
</script>

<li>{{n_reviews_allocated}} reviews allocated for {{learners|length}} students.
<li>{{tot_evals_given}} evaluations given/earned out of a total of {{max_evals_given}} evaluations.
<table class="summaries pr-admin" id="class_overview">
<thead>
<tr>
  <th>Initials</th>
  <th>Learner</th>
  <th>Group</th>
  <th>Peer submit<br></th>
  <th>Staff submit</th>
  <th>Reviewed by <br><tt>(Earn)</tt></th>
  <th>Reviewer of <br><tt>(Gave)</tt></th>
  <th>Evaluations</th>
  <th>Staff grading</th>
  <th>Final grade</th>
</tr>

</thead>
<tbody>
{% for learner in learners %}
<tr>
  <td>{{learner.get_initials}}</td>
  <td><span style="color:{% if learner.is_validated%}black">{% else %}darkorange">*{% endif %}{{learner.display_name}}</span><br><span style="color:#999; font-size:80%">{{learner.email|slice:"@student.tudelft.nl"}}</span></td>
  <td>{{learner.group_name|slicestr:"6:8"}}</td>


    {% with report=reports|keyvalue:learner %}
      {% for key in report.keys %}
        {% if not key|startswith:'_' %}
            {% with item=report|keyvalue:key%}
              <td data-order="{{item|sortorder}}">
                {% if item.last %}
                    {% if item.hyperlink %}
                      <a target="_blank" href="{{item.hyperlink}}">{{item.last|date:"d M"}} {{item.last|date:"H:i"}}</a>
                    {% else %}
                      {{item.last|date:"d M"}} {{item.last|date:"H:i"}}
                    {% endif %}
                {% else %}
                    {% if item %}
                      {{item|safe}}
                    {%endif%}
                {%endif%}
              </td>
            {% endwith %}
        {% endif %}
      {% endfor %} {#  keys in ``report`` #}
    {% endwith %}

</tr>
{% endfor %}
</tbody></table>
{% endif %} {# learner.id == 96#}