{% extends "basic/base.html" %}
<style>
.start_dt{
  float:right;
  margin:5px 0;
  padding:3px;
  background: #ddd;
  width:20%;
}
.end_dt{
  float:right;
  margin:5px 0;
  padding:3px;
  background: #ccc;
  width:20%;
}
</style>




{% block content %}
<script>
  $( function() {
    $( "#practicum" ).selectmenu();
    $( "#practicum" ).on( "selectmenuchange", function( event, ui ) {
      switch (ui.item.index) {
      case 1:
        window.location.href = "course/66765/1/";
        break;
      case 2:
        window.location.href = "course/66765/2/";
        break;
      case 3:
        window.location.href = "course/66765/3/";
        break;
      }
    } );
  } );
</script>
  <form action="#">
    <fieldset>
      <label for="speed">Switch to practicum: </label>
      <select name="practicum" id="practicum">
        <option>Please select one ...</option>
        <option>1. Business models</option>
        <option>2. Repair</option>
        <option>3. Recovery</option>
      </select>
    </fieldset>
  </form>
    {{header|safe}}
    {% if learner.role == 'Learn' %}
        {{ce_step_1submit|safe}}
        {{ce_step_2review|safe}}
        {{ce_step_3eval|safe}}
        {{ce_step_4process|safe}}
        {{ce_step_5resubmit|safe}}
        {{ce_step_6staff|safe}}
        {{ce_step_7grades|safe}}
        {% include "interactive/summary.html" %}

    {% endif %}

    {# -----------------------------------------------------------------------#}
    {% if learner.role == 'Admin' %}
        {{overview_learners|safe}}
    {% endif %}

{% endblock %}