{% extends "basic/base.html" %}

{% load template_extras %}


{% block header %}
<script>
$(document).ready( function () {

  $('#overall_progress').DataTable( {
    paging: false,
    searching: false,
    fixedHeader: {
        header: false,
        footer: true
    },
    bSort: false,
    bInfo: false,
    bAutoWidth: false,
  } );
} );
</script>

<style>
.first-column{
    padding-right: 20px;
    padding-top:   10px;
    padding-bottom: 10px;

}
</style>
{% endblock %}


{% block content %}


<table class="summaries pr-admin" id="overall_progress">
<thead><tr>
<td style="font-size:28">Achievement</td>
{% for unit in entries %}
    <td style="font-size:20">{{unit.LTI_title}}</td>
{% endfor %}
</tr></thead>
<tbody>
<tr><td class="first-column" >1. Submitted a document</td>

    {% for unit in entries %}
        {% if achieved|keyvalue:unit|keyvalue:'submitted' %}
            {% with achievement=achieved|keyvalue:unit|keyvalue:'submitted' %}
            <td><i class="fa fa-check" aria-hidden="true"></i>&nbsp;{{ achievement.when|date:"d M Y, H:i"}}</td>
            {% endwith %}
        {% else %}
            <td><i class="fa fa-times" aria-hidden="true"></i></td>
        {% endif %}
    {% endfor %}
</tr>
<tr><td class="first-column">2. You completely reviewed all your peers' work</td>
    {% for unit in entries %}
        {% if achieved|keyvalue:unit|keyvalue:'completed_all_reviews' %}
            {% with achievement=achieved|keyvalue:unit|keyvalue:'completed_all_reviews' %}
            <td><i class="fa fa-check" aria-hidden="true"></i>&nbsp;{{ achievement.when|date:"d M Y, H:i"}}</td>
            {% endwith %}
        {% else %}
            <td><i class="fa fa-times" aria-hidden="true"></i></td>
        {% endif %}
    {% endfor %}
</tr>

<tr><td class="first-column">3. Have read and evaluated reviews about your work</td>
    {% for unit in entries %}
        {% if achieved|keyvalue:unit|keyvalue:'read_and_evaluated_all_reviews' %}
            {% with achievement=achieved|keyvalue:unit|keyvalue:'read_and_evaluated_all_reviews' %}
            <td><i class="fa fa-check" aria-hidden="true"></i>&nbsp;{{ achievement.when|date:"d M Y, H:i"}}</td>
            {% endwith %}
        {% else %}
            <td><i class="fa fa-times" aria-hidden="true"></i></td>
        {% endif %}
    {% endfor %}
</tr>


<tr><td class="first-column">4. Have completed the rebuttal</td>
    {% for unit in entries %}
        {% if achieved|keyvalue:unit|keyvalue:'completed_rebuttal' %}
            {% with achievement=achieved|keyvalue:unit|keyvalue:'completed_rebuttal' %}
            <td><i class="fa fa-check" aria-hidden="true"></i>&nbsp;{{ achievement.when|date:"d M Y, H:i"}}</td>
            {% endwith %}
        {% else %}
            <td><i class="fa fa-times" aria-hidden="true"></i></td>
        {% endif %}
    {% endfor %}
</tr>

<tr><td class="first-column">5. Have assessed all rebuttals received</td>
    {% for unit in entries %}
        {% if achieved|keyvalue:unit|keyvalue:'assessed_rebuttals' %}
            {% with achievement=achieved|keyvalue:unit|keyvalue:'assessed_rebuttals' %}
            <td><i class="fa fa-check" aria-hidden="true"></i>&nbsp;{{ achievement.when|date:"d M Y, H:i"}}</td>
            {% endwith %}
        {% else %}
            <td><i class="fa fa-times" aria-hidden="true"></i></td>
        {% endif %}
    {% endfor %}
</tr>
</tbody>
</table>


{% endblock %}
