{% extends "basic/base.html" %}

{% load template_extras %}


{% block header %}
<script>
$(document).ready( function () {

  $('#overall_progress').DataTable( {
    paging: false,
    searching: false,
    fixedHeader: {
        header: false,
        footer: true
    },
    bSort: false,
    bInfo: false,
    bAutoWidth: false,
    "columnDefs": [{ "width": "16.667%", "targets": [0, 1, 2, 3, 4, 5] }  ],
  } );
} );
</script>

<style>


#overall_progress tbody td{
    text-align:center;
    vertical-align:middle;
}
.first-column{
    padding-right: 20px;
    padding-top:   10px;
    padding-bottom: 10px;
}
.achieved_dt{
    color: dodgerblue;

}
.verb{
    font-weight: bold;
    font-family: Lato;
    font-size: 120%;
}



</style>
{% endblock %}


{% block content %}


<table class="summaries pr-admin" id="overall_progress">
<thead><tr>
<td style="font-size:28">Achievement</td>
{% for unit in entries %}
    <td style="font-size:20; font-weight: bold">
    {% if unit.full_URL%}
        <a href="{{unit.full_URL}}" target="_blank">{{unit.LTI_title}}</a>
    {% else %}
        {{unit.LTI_title}}
    {% endif %}
    </td>
{% endfor %}
</tr></thead>
<tbody>
<tr><td class="first-column" style="text-align:right;"><span class="verb">Submitted</span> a document</td>

    {% for unit in entries %}
        {% if achieved|keyvalue:unit|keyvalue:'submitted' %}
            {% with achievement=achieved|keyvalue:unit|keyvalue:'submitted' %}
            <td><i class="fa fa-check" aria-hidden="true"></i>&nbsp;<br><span class="achieved_dt">{{ achievement.when|date:"d M Y, H:i"}}</span></td>
            {% endwith %}
        {% else %}
            <td><i class="fa fa-times" aria-hidden="true"></i></td>
        {% endif %}
    {% endfor %}
</tr>
<tr><td class="first-column" style="text-align:right;">Completely <span class="verb">reviewed</span> all your peers' work</td>
    {% for unit in entries %}
        {% if achieved|keyvalue:unit|keyvalue:'completed_all_reviews' %}
            {% with achievement=achieved|keyvalue:unit|keyvalue:'completed_all_reviews' %}
            <td><i class="fa fa-check" aria-hidden="true"></i>&nbsp;<br><span class="achieved_dt">{{ achievement.when|date:"d M Y, H:i"}}</span></td>
            {% endwith %}
        {% else %}
            <td><i class="fa fa-times" aria-hidden="true"></i></td>
        {% endif %}
    {% endfor %}
</tr>

<tr><td class="first-column" style="text-align:right;">Have read and <span class="verb">evaluated</span> reviews about your work</td>
    {% for unit in entries %}
        {% if achieved|keyvalue:unit|keyvalue:'read_and_evaluated_all_reviews' %}
            {% with achievement=achieved|keyvalue:unit|keyvalue:'read_and_evaluated_all_reviews' %}
            <td><i class="fa fa-check" aria-hidden="true"></i>&nbsp;<br><span class="achieved_dt">{{ achievement.when|date:"d M Y, H:i"}}</span></td>
            {% endwith %}
        {% else %}
            <td><i class="fa fa-times" aria-hidden="true"></i></td>
        {% endif %}
    {% endfor %}
</tr>


<tr><td class="first-column" style="text-align:right;">Have completed the <span class="verb">rebuttal</span></td>
    {% for unit in entries %}
        {% if achieved|keyvalue:unit|keyvalue:'completed_rebuttal' %}
            {% with achievement=achieved|keyvalue:unit|keyvalue:'completed_rebuttal' %}
            <td><i class="fa fa-check" aria-hidden="true"></i>&nbsp;<br><span class="achieved_dt">{{ achievement.when|date:"d M Y, H:i"}}</span></td>
            {% endwith %}
        {% else %}
            <td><i class="fa fa-times" aria-hidden="true"></i></td>
        {% endif %}
    {% endfor %}
</tr>

<tr><td class="first-column" style="text-align:right;">Have <span class="verb">assessed</span> all rebuttals received</td>
    {% for unit in entries %}
        {% if achieved|keyvalue:unit|keyvalue:'assessed_rebuttals' %}
            {% with achievement=achieved|keyvalue:unit|keyvalue:'assessed_rebuttals' %}
            <td><i class="fa fa-check" aria-hidden="true"></i>&nbsp;<br><span class="achieved_dt">{{ achievement.when|date:"d M Y, H:i"}}</span></td>
            {% endwith %}
        {% else %}
            <td><i class="fa fa-times" aria-hidden="true"></i></td>
        {% endif %}
    {% endfor %}
</tr>
</tbody>
</table>


{% endblock %}
