{% extends "basic/base.html" %}

{% load template_extras %}


{% block content %}


<table>
<thead><tr>
<td>Achievement</td>
{% for unit in entries %}
    <td>{{unit.LTI_title}}</td>
{% endfor %}
</tr></thead>
<tbody>
<tr><td>Submitted a document</td>

    {% for unit in entries %}
        {% if achieved|keyvalue:unit|keyvalue:'submitted' %}
            <td>Yes</td>
        {% else %}
            <td>No</td>
        {% endif %}
    {% endfor %}
</tr>
<tr><td>Completed reviews of your peers' work</td>
    {% for unit in entries %}
        {% if achieved|keyvalue:unit|keyvalue:'completed_all_reviews' %}
            <td>Yes</td>
        {% else %}
            <td>No</td>
        {% endif %}
    {% endfor %}
</tr>

<tr><td>Have read and evaluated reviews about your work</td>
    {% for unit in entries %}
        {% if achieved|keyvalue:unit|keyvalue:'read_and_evaluated_all_reviews' %}
            <td>Yes</td>
        {% else %}
            <td>No</td>
        {% endif %}
    {% endfor %}
</tr>


<tr><td>Have completed the rebuttal</td>
    {% for unit in entries %}
        {% if achieved|keyvalue:unit|keyvalue:'completed_rebuttal' %}
            <td>Yes</td>
        {% else %}
            <td>No</td>
        {% endif %}
    {% endfor %}
</tr>

<tr><td>Have assessed all rebuttals received</td>
    {% for unit in entries %}
        {% if achieved|keyvalue:unit|keyvalue:'assessed_rebuttals' %}
            <td>Yes</td>
        {% else %}
            <td>No</td>
        {% endif %}
    {% endfor %}
</tr>
</tbody>
</table>


{% endblock %}