{% extends "basic/base.html" %}

{% block content %}

{{header|safe}}

<style>
.rev{  /* my reviews of others */
  color: darkgreen;
}
.sub{  /* about reviews of my submission */
  color: purple;
}
</style>

{% if learner.role == 'Learn' %}

{{submission|safe}}

<hr>
<h2 style="display:inline; clear:none; color: darkgreen;">Your reviews &rarr; Peers</h2>
<span class="h2explain" style="color: darkgreen; font-weight:bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(your evaluation of peers' work)</span>

<div class="clear"></div>
<p></p><p></p><p></p>


{{review_to_peers|safe}}


<div class="clear"></div>
<hr>
<h2 style="display:inline; clear:none; color: purple">Your peers &rarr; You</h2>
<span class="h2explain" style="color: purple;font-weight:bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(your peers' review of your work)</span>
<div class="clear"></div>


{{peers_back_to_submitter|safe}}

<hr>

{% include "interactive/summary.html" %}

{% endif %}

{# ------------------------------------------------------------------------#}
{% if learner.role == 'Admin' %}

<h2>Welcome administrator!</h2>
You cannot submit, or participate in the review process, but soon there will be functionality added here for you to observe the review process.

{% endif %}


{% endblock %}