{% extends "basic/base.html" %}{% block content %}

{{header|safe}}


<hr>

{{submission|safe}}

<hr>
<h2 style="display:inline; clear:none;">Your reviews &rarr; Peers</h2>
<span class="h2explain">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(your evaluation of peers' work)</span>

<div class="clear"></div>
<p></p><p></p><p></p>


{{review_to_peers|safe}}


<div class="clear"></div>
<hr>
<h2 style="display:inline; clear:none;">Your peers &rarr; You</h2>
<span class="h2explain">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(your peers' review of your work)</span>
<div class="clear"></div>


{{peers_back_to_submitter|safe}}

<hr>

{% include "interactive/summary.html" %}

{% endblock %}