{% load template_extras %}

<h2 style="display:inline; clear:none;">Learner overview</h2><br>


{% if achieved|keyvalue:unit|keyvalue:'submitted' %}
            {% with achievement=achieved|keyvalue:unit|keyvalue:'submitted' %}
            <td><i class="fa fa-check" aria-hidden="true"></i>&nbsp;<br><span class="achieved_dt">{{ achievement.when|date:"d M Y, H:i"}}</span></td>
            {% endwith %}
        {% else %}
            <td><i class="fa fa-times" aria-hidden="true"></i></td>
        {% endif %}


<script>
$(document).ready( function () {

  $('#class_overview').DataTable( {
    paging: false,
    searching: true,
    fixedHeader: {
        header: true,
        footer: true
    },
    bInfo: false,
    bAutoWidth: false,
  } );
} );
</script>

<table class="summaries pr-admin" id="class_overview">
<thead>
<tr>
  <th>Initials</th>
  <th>Learner</th>
  <th>Submit</th>
  <th>Review (x2)</th>
  <th>Evaluate</th>
  <th>Rebut</th>
  <th>Assess</th>
  <th>Reviewer of</th>
  <th>Reviewed by</th>
</tr>

</thead>
<tbody>
{% for learner in learners %}
<tr>
  <td>{{learner.get_initials}}</td>
  <td>{{learner.display_name}}<br>
    <span style="color:#999">{{learner.email|slice:"@student.tudelft.nl"}}</span>
  </td>
    {% with report=reports|keyvalue:learner %}
      {% for key in report.keys %}
        {% with item=report|keyvalue:key%}
          <td data-order="{{item.when.timestamp}}">
            {% if item.when %}
                {{item.when|date:"d M"}},{{item.when|date:"H:i"}}
            {% else %}
                {% if item %}
                  {{item|safe}}
                {%endif%}
            {%endif%}
          </td>
        {% endwith %}
      {% endfor %} {#  keys in ``report`` #}
    {% endwith %}



</tr>
{% endfor %}
</tbody></table>
