

<h2 style="display:inline; clear:none;">Summary</h2>
<span class="h2explain">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(reload page to refresh the table)</span>

{% if global_summary_link %}
<span style="float: right; padding-right: 0.5em"><a target="_blank" href="{{global_summary_link}}">Global summary of your progress</a></span>
{% endif %}


<script>
$(document).ready( function () {

  $('#interactive_summary').DataTable( {
    paging: false,
    searching: false,
    fixedHeader: {
        header: false,
        footer: true
    },
    bInfo: false,
    bAutoWidth: false,
  } );
} );
</script>


{% if summary_list %}
<table class="summaries pr-admin" id="interactive_summary">
<thead>
<tr>
  <th>Date and time</th>
  <th>Action</th>
  <th>Link</th>
</tr>
</thead>
<tbody>
{% for summary in summary_list %}
<tr>
  <td data-search="{{summary.date|date:"d F Y"}} {{summary.date|date:"H:i"}}"
      data-order="{{summary.date.timestamp}}">
      {{summary.date|date:"d F Y"}} {{summary.date|date:"H:i"}}</td>
  <td class="{{summary.catg}}">{{summary.action}}</td>
  <td>{{summary.link|safe}}</td>
</tr>
{% endfor %}
</tbody></table>


{% else %}
<p>No summary information to display.
{% endif %} {# if summary_list #}

<br>
<hr>