{% extends "basic/base.html" %}

{% load template_extras %}


{% block header %}{% endblock %}


{% block content %}

<h2>Sign-in</h2>

<p>There are some important points to note about the electronic peer review tool that will be used in this course.

<ol>
<li> You will upload PDF documents to be reviewed by other students that are also taking this course.
<li> You will also review your peers, supplying ratings and comments in your reviews, evaluations, rebuttals and assessments.
<li> You will receive email reminders, at your TU Delft email address, to let you know there is an evaluation due, or an assessment due. We also use that email address for you to sign into the system because <b>we don't use any passwords</b>.
</ol>
<p>To use this system you are agreeing to sharing the above information from points 1, 2 and 3 with the website that electronically handles the process. If you prefer not to use the system as described, please contact the module manager in your course. You can also watch a <a href="https://www.youtube.com/watch?v=EDTe5CxJiJE" target="_blank">short video about the review process</a>.

<form method="post" id="sign-in-popup-form" action="#" name="sign-in-popup-form">
    {% csrf_token %}
    <input type="hidden" name="context_id" value="{{course.label}}">
    <input type="hidden" name="resource_link_id" value="{{entry_point.LTI_id}}">
    <input type="hidden" name="lis_person_name_full" value="">
    <input type="hidden" name="user_id" value="anonymous">
    <div>
        <em>New user</em>? We will send you a confirmation email to create your accout. Please read it carefully.<br>
        <span style="color:darkorange">Returning user?</span> We send a unique link, by email, for you to log in with.
        <br><br>
        <label for="usrnm" class="ui-hidden-accessible">Email address*</label>&nbsp;
        <input type="email" name="emailaddress" id="usrnm" placeholder="A.B.Lastname@student.tudelft.nl" value="A.B.Lastname@student.tudelft.nl" style="width:18em">
        <span id="popup-message-back"></span>

        <input id="popup-submit-button" type="submit" data-rel="back" data-inline="true" value="Email me a code to get started!">
        <br>
        * You must use your TU Delft <span style="color:red">email address</span> (<em>not your NetID</em>), in the form: <tt>A.B.Lastname@student.tudelft.nl</tt>
    </div>
</form>

{% endblock %}
