{% extends "basic/base.html" %}

{% load template_extras %}


{% block header %}{% endblock %}


{% block content %}

<h2>Sign-in</h2>
<form method="post" id="sign-in-popup-form" action="#" name="sign-in-popup-form">
    {% csrf_token %}
    <div>
        <em>New user</em>? We send a confirmation email.<br>
        <em>Returning user</em>? We send a unique link, by email.
        <br>
        <label for="usrnm" class="ui-hidden-accessible">Email address:</label>
        <input type="email" name="emailaddress" id="usrnm" placeholder="Your email address">
        <span id="popup-message-back"></span>
        <br>
        <input id="popup-submit-button" type="submit" data-rel="back" data-inline="true" value="Email me a code to get started!">
        <span id="popup-OK-span"><input id="popup-OK-button" type="button" data-inline="true" value="OK"></span>
        <br>
        <em>Note</em>: we do not use passwords on this website.
    </div>
</form>

{% endblock %}