{# Criterion is given here #}
{% if rubric.show_order %}{{item.ritem_template.order}}. {% endif %}
{{item.ritem_template.criterion|safe}}
{% if rubric.show_maximum_score_per_item %}
    <span style="float:right; margin-bottom:10px">(maximum score: <b>{{item.ritem_template.max_score|floatformat}}
    point{{item.ritem_template.max_score|pluralize}}</b>)</span>
{% endif %}
<hr>

{% for option in item.options %}
    {% if item.ritem_template.option_type == 'Radio' %}
    <div class="radio">
        <label><span class="radio_button peeroption"><input type="radio" name="item-{{item.ritem_template.order}}"
            id="item-{{item.ritem_template.order}}" value="option-{{option.order}}"
        {%if option.selected %}checked="checked"{% endif %} {%if show_feedback%}disabled="disabled" {% endif %}></span>
            <span class="radio_text"><b>{{option.score|floatformat}} point{{option.score|pluralize}}</b>: {{option.criterion|safe}} </span></label>
    </div>
    {% endif %}
    {% if item.ritem_template.option_type == 'Chcks' %}
        <div class="checkbox">
            <label><span class="checkbox peeroption"><input type="checkbox" name="item-{{item.ritem_template.order}}" value="option-{{option.order}}"
            {%if option.selected%}checked="checked"{% endif %}></span><span class="checkbox_text">{{option.criterion|safe}}</span></label>
        </div>
    {% endif %}
    {% if item.ritem_template.option_type == 'DropD' %}
       {% if option.criterion %}
           <ul><b>{{option.score|floatformat}} point{{option.score|pluralize}}</b>: {{option.criterion|safe}}</ul>
       {% endif %}
    {% endif %}

    {% if item.ritem_template.option_type == 'LText' %}
        <div  class="LText" style="display: block;" id="item-{{item.ritem_template.order}}">
            <label for="item-{{item.ritem_template.order}}" id="item-{{item.ritem_template.order}}"></label>
            {% if show_feedback %}
                {% comment "This was the old template for the 1st peer review system"%}
                    {% if item.results.0 %}
                        The feedback you received from your peers was:
                        <div class="textwrapper">
                            <textarea cols="2" rows="10" name="item-{{item.ritem_template.order}}" readonly>{{item.results.0}}</textarea>
                        </div>
                    {% endif %}
                    {% if item.results.4%}
                    The feedback you received from your instructor/TA/expert was:
                    <div class="textwrapper">
                        <textarea cols="2" rows="10" name="item-{{item.ritem_template.order}}" readonly>{{item.results.4}}</textarea>
                    </div>
                    {% endif %}
                {% endcomment %}

                <div class="textwrapper">
                    <textarea style="background:#eee" cols="2" rows="{{item.ritem_template.num_rows}}" name="item-{{item.ritem_template.order}}" readonly>{% if option.prior_text %}{{option.prior_text}}{% endif %}</textarea>
                </div>


            {% else %}
                <div class="textwrapper">
                    <textarea class="pr-textarea" cols="2" rows="{{item.ritem_template.num_rows}}" name="item-{{item.ritem_template.order}}" placeholder="{{option.criterion}}">{% if option.prior_text %}{{option.prior_text}}{% else %}{{option.criterion}}{% endif %}</textarea>
                </div>
            {% endif %}

        </div>
    {% endif %}
{% endfor %} {#for: option in item.options #}
{% if show_feedback %} {# show peer/self feedback #}
    {% if item.ritem_template.option_type == 'LText' %}{% endif%}
    {% if item.ritem_template.option_type == 'DropD' or item.ritem_template.option_type == 'Radio' %}
        {% if item.results.0 %}<em>Score received</em>: {{item.results.0}} {% endif %}
        {% if item.results.2%};average value = {{item.results.2|floatformat}}{% endif %}
    {% endif %}
{% else %}
    {%if item.ritem_template.option_type == 'DropD'%}
    <div class="dropdown-score" style="padding:	10px">
    Your evaluation:
    <select id="item-{{item.ritem_template.order}}" name="item-{{item.ritem_template.order}}" required>
    <option value="option-NA" selected disabled>Based on the above descriptions, please give a score ...</option>
        {% for option in item.options %}
            <option class="peeroption" value="option-{{option.order}}"{%if option.selected%} selected="selected"{% endif %}>{{option.score|floatformat}} point{{option.score|pluralize}}</option>
        {% endfor %}
    </select>
    </div>
    {% endif %} {#item.ritem_template.option_type#}
{% endif %} {# ``show_feedback``: show peer/self feedback #}
