{% extends "basic/base.html" %}
{% block header %}

<style>
.box a:hover {
    text-decoration: none;
}

.button {
  font-size: 1em;
  padding: 2px;
  color: #00f;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
}
.box {
  width: 50%;
  margin: 0 auto;
  padding: 2px;
  border: 2px solid #fff;
  border-radius: 25px;
  text-align: center;
}

.button:hover {
  background: #FFFFFF;
    margin: 0 auto;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  margin-right:100px;
  float:right;
}
.popup h2 {
    font-size:1.5em;
  margin-top: 0;
  color: #333;
  font-family: sans-serif;
}
.popup .close {
  position: absolute;
  float:right;
  top: 30px;
  right: 110px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #FF0000;
}
.popup .content {
  max-height: 80%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
</style>
{% endblock %}


{% block content %}
<div id="header">
    <div class="review-realtime-feedback" style="float:right; padding-top: 1em; padding-right: 1em;"></div>
    <h3>Hello {{person.display_name}}</h3>
    {% if show_feedback %}
        The report is shown below. It is read-only, and no further changes/additions can be made to the review.
    {% else %}
        <p>The work you are required to review is shown below.
        {# <span style="color: orange">You can start the review, come back later to continue editing and adding feedback. Your work is continually saved as you type and evaluate your peers.</span>#}
        If you do not see any document here then you should please <a href="/{{submission.file_upload.url}}" target="_blank">first download it</a>.
    {% endif %}
</div>

<div class="colmask rightmenu">
    <div class="colleft">
        <div class="col1">
            <!-- Column 1 start -->
            <object data="/{{submission.file_upload.url}}" type="application/pdf"
                width="100%" height="85%">
                alt : <a href="/{{submission.file_upload.url}}">Peer review document</a>
            </object>
            <!-- Column 1 end -->
        </div>
        <div class="col2">
            <!-- Column 2 start -->

            {% spaceless %}
            {% if not show_feedback %}
                {{rubric_template.general_instructions|safe}}
                <br>
                <form action="{% url 'submit_peer_review_feedback' ractual_code=ractual_code %}"
                      method="POST" enctype="multipart/form-data">{% csrf_token %}
                {% if rubric_template.submit_button_also_shown_on_top %}
                    <div class="submit_button" ><input  type="submit" name="{{ractual_code}}" value="{{rubric_template.submit_button_text|safe}}"></div>
                {% endif %}
                <hr>
            {% endif %}

            {% for item in r_item_actuals %} {# This alternates the major ITEMS in the rubric #}
                <fieldset id="fieldset-item-{{item.ritem_template.order}}" class="rubric-{% cycle 'odd' 'even' %}">
                    {% include "rubric/render_one_item.html" with show_feedback=show_feedback%}
                </fieldset>
            <hr>
            {% endfor %} {# for item in r_item_actuals #}

            {% if not show_feedback %}
                <span class="submit_button" >
                <input type="submit" name="below-{{ractual_code}}" value="{{rubric_template.submit_button_text|safe}}"></span>
                </form>
            {% endif %}
            {% endspaceless %}
            <!-- Column 2 end -->
        </div>
    </div>
</div>

<div id="footer">
<div style="float:right; padding-right: 1em; color: orange">Do not forget to submit once you are completed.</div>
</div>

{% endblock %}
{% block footer %}

{% if not show_feedback %}
<script language="javascript" type="text/javascript">

$( "input" ).click(function (event) {
    var postdata = {'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'option': event.target.value,
                    'item': event.target.id};
    $.ajax({
        method: "POST",
        url: '{% url 'xhr_store' ractual_code=ractual_code %}',
        data: postdata,
        cache: false,
        dataType: 'html'
    })
    .always(function(html_response) {
        $('.review-realtime-feedback').html(html_response);
    });

}).change();


$( "select" ).change(function (event) {
    var postdata = {'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'option': event.target.value,
                    'item': event.target.id};
    $.ajax({
        method: "POST",
        url: '{% url 'xhr_store' ractual_code=ractual_code %}',
        data: postdata,
        cache: false,
        dataType: 'html'
    })
    .always(function(html_response) {
        $('.review-realtime-feedback').html(html_response);
    });

}).change();


$(document).ready(function() {
    var timer = null;
    $('.pr-textarea').on("keydown", function(event) {
        if (timer){
            window.clearTimeout(timer);
        };
        timer = window.setTimeout(function(event)
        {
            var postdata = {'csrfmiddlewaretoken': '{{ csrf_token }}'};
            $('.pr-textarea').each(function() {
                postdata[$(this).attr('name')] = $(this).val();
            });

            $.ajax(
            {
                type: "POST",
                url: '{% url 'xhr_store_text' ractual_code=ractual_code %}',
                data: postdata,
                cache: false,
                success: function(html_response) {$('.review-realtime-feedback').html(html_response);},
                error: function (response, desc, exception) {// custom error
                }
            });
        }, 1000);
    });
});
</script>
{% endif %} {# if not show_feedback #}

{# http://stackoverflow.com/questions/1620602/javascript-jquery-make-an-ajax-request-when-a-user-is-typing-in-a-textarea    http://stackoverflow.com/questions/10018437/jquery-ajax-autosave-for-textareas #}

{% endblock %}