{% extends "basic/base.html" %}

{% block content %}

{{header|safe}}
<form action="{% url 'keyterms_entry_point' %}" method="POST"
      enctype="multipart/form-data">{% csrf_token %}
    <input type="hidden" name="context_id" value="{{course.label}}">
    <input type="hidden" name="resource_link_id" value="{{entry_point.LTI_id}}">
    <input type="hidden" name="learner_ID" value="{{learner.user_ID}}">


<h2>1. Define this key term: {{keyterm}}</h2>

<h2>2. Your definition</h2>

<h2>3. Upload an image file</h2>

<h2>4. Write your explanation</h2>

<h2>5. A reference for your image</h2>


<span class="submit_button" >

    <input type="submit" name="preview-keyterm" value="Preview your keyterm">
</span>
</form>

{% endblock %}